@import "styles/variables.scss";

.App-nav {
  padding: 20px;
  background-color: #fbfaff;

  .app-logo {
    display: grid;
    place-items: center;
    img {
      height: 40px;
      width: auto;
      margin-bottom: 5px;
    }
    p {
      font-weight: 700;
      color: $green;
    }
  }

  .nav-list {
    margin-top: 170px;
  }

  .nav-item {
    border-radius: 20px;
    width: 55px;
    height: 55px;
    padding: 16px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.2s background-color ease;
    will-change: background-color;
    color: #5f6388;

    &.active {
      background-color: $green;
      color: #fff;
      box-shadow: 0px 3px 15px rgba($green, 0.2);
    }

    &:not(:last-of-type) {
      margin-bottom: calc(55px / 3);
    }

    &:hover {
      background-color: $orange;
    }
  }
}
